.candidate-info-item {
    margin-bottom: 40px;
    font-size: 100%;
}
.modal .candidate-info-item {
    margin-bottom: 20px;
}
.modal.candidate-info-modal .modal-dialog {
    max-width: 800px;
}
.candidate-info-item .candidate-info-label {
    text-transform: uppercase;
    font-size: 80%;
}
.candidate-info-item:not(.candidate-notes) .candidate-info-value {
    font-weight: 500;
    font-size: 120%;
}